.container {
    min-height: 100vh;
    color: #94a3b8;
    position: relative;
    font-family: var(--font-geist-sans);
}

.main {
    max-width: 64rem;
    position: absolute;
    top: 10%;
    padding: 0 2rem 2rem 2rem; /* Default padding for larger screens */
    min-width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    font-size: 3.5rem;
    font-weight: bold;
    color: #e2e8f0;
}

.description {
    max-width: 42rem;
    line-height: 1.75;
    color: #94a3b8;
}

.link {
    color: #64ffda;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .main {
        padding: 0 1rem; /* Reduce padding for mobile screens */
        top: 25%; /* Adjust positioning for smaller screens */
        transform: translateY(0);
    }

    .content {
        gap: 0.75rem; /* Reduce spacing for mobile */
    }

    .title {
        font-size: 2rem; /* Smaller title size for mobile */
    }

    .description {
        font-size: 0.875rem; /* Adjust description font size for readability */
    }

    .masonry-container {
        column-gap: 15px; /* Reduce column gap for smaller screens */
    }
}
